#ig{
    margin: 20px;
}

.card-image{
  background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding-bottom: 70%;
    position: relative;
}

#left{
  left: 20px;
  font-size: 70px;
}

#news{
  font-size: 50px;
  
}

#investor{
  background-image: url(img/bg\ investor.jpg);
  background-size: 100%;
  background-repeat: repeat;
}

.home-about-us{
  background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
}


.main-navbar {
  background-color:transparent;
  padding-left: 0;
  padding-right: 0;
  
  top: 1rem;
}


.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

  #akhir{
    background-image: url(img/bg\ keberlanjutan.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
  }

  #akhir{
    background-image: url(img/bg\ keberlanjutan.jpg);
    background-size: 100%;
    background-repeat: repeat;
  }
  #footer{
    font-size: 10px;
    margin-bottom: 0px;
    padding: 10px;
}

#right{
  position: relative;
  right: 0px;
}
.bawah{
  margin-top: 50px;
}
  
li{
  list-style:none;
  text-decoration: none
};
  

  
 

                                 
